.c-footer-bar {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background-color: #1f1f1f;
  margin-top: 60px;
  /*margin-bottom: 100px;*/
}

.c-footer-contact {
  text-align: center;
  font-family: gt;
  font-weight: 100;
  font-size: 36px;
  color: #1f1f1f;
}

.c-footer-cta {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-family: gt;
  font-weight: 100;
  font-size: 24px;
  color: #1f1f1f;
}

.c-footer-mail {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-family: basis;
  font-weight: 100;
  font-size: 14px;
  color: #1f1f1f;
  margin-top: 15px;
}

.c-footer-icon {
  @apply flex flex-row mt-20 justify-center;
}

.c-footer-img {
  @apply pr-30 pl-30 ;

  & a img {
    width: 30px;
  }
}

.c-footer-item {
  @apply block text-gray-100 text-14 text-left;
  font-weight: 300;
}