.c-project-container-payoff {
  @apply pr-16;
  font-family: gt;
  font-weight: 100;
  font-size: 22px;
  color: #1f1f1f;
@screen lg{
  @apply mt-150;
}
  @screen md{
    @apply mt-200;
  }
}
.c-project-container{
  @apply block ;
  & img{
    width: 100%;
  }
}

.c-project-title{
  @apply block text-left uppercase mt-20 mb-5;
  font-family: gt;
  font-weight: 100;
  font-size: 18px;
  color: #1f1f1f;
}
.c-project-subtitle{
  @apply block text-left;
  font-family: basis;
  font-weight: 100;
  font-size: 14px;
  color: #1f1f1f;
 }